/*
 * Mux API
 * Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before. 
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.mux.sdk;

import com.mux.ApiCallback;
import com.mux.ApiClient;
import com.mux.ApiException;
import com.mux.ApiResponse;
import com.mux.Configuration;
import com.mux.Pair;
import com.mux.ProgressRequestBody;
import com.mux.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.mux.sdk.models.IncidentResponse;
import com.mux.sdk.models.ListIncidentsResponse;
import com.mux.sdk.models.ListRelatedIncidentsResponse;

import java.lang.reflect.Type;

public class IncidentsApi {
    private ApiClient localVarApiClient;

    public IncidentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public IncidentsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getIncident
     * @param INCIDENT_ID ID of the Incident (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getIncidentCall(String INCIDENT_ID, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/data/v1/incidents/{INCIDENT_ID}"
            .replaceAll("\\{" + "INCIDENT_ID" + "\\}", localVarApiClient.escapeString(INCIDENT_ID.toString()));

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();
        java.util.Map<String, String> localVarCookieParams = new java.util.HashMap<String, String>();
        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "accessToken" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getIncidentValidateBeforeCall(String INCIDENT_ID, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'INCIDENT_ID' is set
        if (INCIDENT_ID == null) {
            throw new ApiException("Missing the required parameter 'INCIDENT_ID' when calling getIncident(Async)");
        }
        

        okhttp3.Call localVarCall = getIncidentCall(INCIDENT_ID, _callback);
        return localVarCall;

    }

    /**
     * Get an Incident
     * Returns the details of an incident 
     * @param INCIDENT_ID ID of the Incident (required)
     * @return IncidentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public IncidentResponse getIncident(String INCIDENT_ID) throws ApiException {
        ApiResponse<IncidentResponse> localVarResp = getIncidentWithHttpInfo(INCIDENT_ID);
        return localVarResp.getData();
    }

    /**
     * Get an Incident
     * Returns the details of an incident 
     * @param INCIDENT_ID ID of the Incident (required)
     * @return ApiResponse&lt;IncidentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<IncidentResponse> getIncidentWithHttpInfo(String INCIDENT_ID) throws ApiException {
        okhttp3.Call localVarCall = getIncidentValidateBeforeCall(INCIDENT_ID, null);
        Type localVarReturnType = new TypeToken<IncidentResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get an Incident (asynchronously)
     * Returns the details of an incident 
     * @param INCIDENT_ID ID of the Incident (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getIncidentAsync(String INCIDENT_ID, final ApiCallback<IncidentResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getIncidentValidateBeforeCall(INCIDENT_ID, _callback);
        Type localVarReturnType = new TypeToken<IncidentResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listIncidents
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @param status Status to filter incidents by (optional)
     * @param severity Severity to filter incidents by (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listIncidentsCall(Integer limit, Integer page, String orderBy, String orderDirection, String status, String severity, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/data/v1/incidents";

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();
        java.util.Map<String, String> localVarCookieParams = new java.util.HashMap<String, String>();
        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (orderBy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_by", orderBy));
        }

        if (orderDirection != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_direction", orderDirection));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (severity != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("severity", severity));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "accessToken" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listIncidentsValidateBeforeCall(Integer limit, Integer page, String orderBy, String orderDirection, String status, String severity, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = listIncidentsCall(limit, page, orderBy, orderDirection, status, severity, _callback);
        return localVarCall;

    }

    /**
     * List Incidents
     * Returns a list of incidents 
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @param status Status to filter incidents by (optional)
     * @param severity Severity to filter incidents by (optional)
     * @return ListIncidentsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ListIncidentsResponse listIncidents(Integer limit, Integer page, String orderBy, String orderDirection, String status, String severity) throws ApiException {
        ApiResponse<ListIncidentsResponse> localVarResp = listIncidentsWithHttpInfo(limit, page, orderBy, orderDirection, status, severity);
        return localVarResp.getData();
    }

    /**
     * List Incidents
     * Returns a list of incidents 
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @param status Status to filter incidents by (optional)
     * @param severity Severity to filter incidents by (optional)
     * @return ApiResponse&lt;ListIncidentsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListIncidentsResponse> listIncidentsWithHttpInfo(Integer limit, Integer page, String orderBy, String orderDirection, String status, String severity) throws ApiException {
        okhttp3.Call localVarCall = listIncidentsValidateBeforeCall(limit, page, orderBy, orderDirection, status, severity, null);
        Type localVarReturnType = new TypeToken<ListIncidentsResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List Incidents (asynchronously)
     * Returns a list of incidents 
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @param status Status to filter incidents by (optional)
     * @param severity Severity to filter incidents by (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listIncidentsAsync(Integer limit, Integer page, String orderBy, String orderDirection, String status, String severity, final ApiCallback<ListIncidentsResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = listIncidentsValidateBeforeCall(limit, page, orderBy, orderDirection, status, severity, _callback);
        Type localVarReturnType = new TypeToken<ListIncidentsResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listRelatedIncidents
     * @param INCIDENT_ID ID of the Incident (required)
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listRelatedIncidentsCall(String INCIDENT_ID, Integer limit, Integer page, String orderBy, String orderDirection, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/data/v1/incidents/{INCIDENT_ID}/related"
            .replaceAll("\\{" + "INCIDENT_ID" + "\\}", localVarApiClient.escapeString(INCIDENT_ID.toString()));

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();
        java.util.Map<String, String> localVarCookieParams = new java.util.HashMap<String, String>();
        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (orderBy != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_by", orderBy));
        }

        if (orderDirection != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("order_direction", orderDirection));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "accessToken" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listRelatedIncidentsValidateBeforeCall(String INCIDENT_ID, Integer limit, Integer page, String orderBy, String orderDirection, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'INCIDENT_ID' is set
        if (INCIDENT_ID == null) {
            throw new ApiException("Missing the required parameter 'INCIDENT_ID' when calling listRelatedIncidents(Async)");
        }
        

        okhttp3.Call localVarCall = listRelatedIncidentsCall(INCIDENT_ID, limit, page, orderBy, orderDirection, _callback);
        return localVarCall;

    }

    /**
     * List Related Incidents
     * Returns all the incidents that seem related to a specific incident 
     * @param INCIDENT_ID ID of the Incident (required)
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @return ListRelatedIncidentsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ListRelatedIncidentsResponse listRelatedIncidents(String INCIDENT_ID, Integer limit, Integer page, String orderBy, String orderDirection) throws ApiException {
        ApiResponse<ListRelatedIncidentsResponse> localVarResp = listRelatedIncidentsWithHttpInfo(INCIDENT_ID, limit, page, orderBy, orderDirection);
        return localVarResp.getData();
    }

    /**
     * List Related Incidents
     * Returns all the incidents that seem related to a specific incident 
     * @param INCIDENT_ID ID of the Incident (required)
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @return ApiResponse&lt;ListRelatedIncidentsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListRelatedIncidentsResponse> listRelatedIncidentsWithHttpInfo(String INCIDENT_ID, Integer limit, Integer page, String orderBy, String orderDirection) throws ApiException {
        okhttp3.Call localVarCall = listRelatedIncidentsValidateBeforeCall(INCIDENT_ID, limit, page, orderBy, orderDirection, null);
        Type localVarReturnType = new TypeToken<ListRelatedIncidentsResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List Related Incidents (asynchronously)
     * Returns all the incidents that seem related to a specific incident 
     * @param INCIDENT_ID ID of the Incident (required)
     * @param limit Number of items to include in the response (optional, default to 25)
     * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
     * @param orderBy Value to order the results by (optional)
     * @param orderDirection Sort order. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listRelatedIncidentsAsync(String INCIDENT_ID, Integer limit, Integer page, String orderBy, String orderDirection, final ApiCallback<ListRelatedIncidentsResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = listRelatedIncidentsValidateBeforeCall(INCIDENT_ID, limit, page, orderBy, orderDirection, _callback);
        Type localVarReturnType = new TypeToken<ListRelatedIncidentsResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
