/*
 * Mux API
 * Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.
 *
 * The version of the OpenAPI document: v1
 * Contact: devex@mux.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.mux.sdk;

import com.mux.ApiCallback;
import com.mux.ApiClient;
import com.mux.ApiException;
import com.mux.ApiResponse;
import com.mux.Configuration;
import com.mux.Pair;
import com.mux.ProgressRequestBody;
import com.mux.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.mux.sdk.models.ListSigningKeysResponse;
import com.mux.sdk.models.SigningKeyResponse;
// TODO: due to import parsing issues for the RDR type; fix in spec in future
import com.mux.sdk.models.ReferrerDomainRestriction;

import java.lang.reflect.Type;

public class UrlSigningKeysApi {
    private ApiClient localVarApiClient;

    public UrlSigningKeysApi() {
        this(Configuration.getDefaultApiClient());
    }

    public UrlSigningKeysApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    private okhttp3.Call createUrlSigningKeyCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/video/v1/signing-keys";

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();
        java.util.Map<String, String> localVarCookieParams = new java.util.HashMap<String, String>();
        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "accessToken" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @Deprecated
    @SuppressWarnings("rawtypes")
    private okhttp3.Call createUrlSigningKeyValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = createUrlSigningKeyCall(_callback);
        return localVarCall;

    }


    private ApiResponse<SigningKeyResponse> createUrlSigningKeyWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = createUrlSigningKeyValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<SigningKeyResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call createUrlSigningKeyAsync(final ApiCallback<SigningKeyResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = createUrlSigningKeyValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<SigningKeyResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIcreateUrlSigningKeyRequest {

        private APIcreateUrlSigningKeyRequest() {
        }

        /**
         * Build call for createUrlSigningKey
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return createUrlSigningKeyCall(_callback);
        }

        /**
         * Execute createUrlSigningKey request
         * @return SigningKeyResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public SigningKeyResponse execute() throws ApiException {
            ApiResponse<SigningKeyResponse> localVarResp = createUrlSigningKeyWithHttpInfo();
            return localVarResp.getData();
        }

        /**
         * Execute createUrlSigningKey request with HTTP info returned
         * @return ApiResponse&lt;SigningKeyResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public ApiResponse<SigningKeyResponse> executeWithHttpInfo() throws ApiException {
            return createUrlSigningKeyWithHttpInfo();
        }

        /**
         * Execute createUrlSigningKey request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call executeAsync(final ApiCallback<SigningKeyResponse> _callback) throws ApiException {
            return createUrlSigningKeyAsync(_callback);
        }
    }

    /**
     * Create a URL signing key
     * This route is now deprecated, please use the &#x60;Signing Keys&#x60; API. Creates a new signing key pair. When creating a new signing key, the API will generate a 2048-bit RSA key-pair and return the private key and a generated key-id; the public key will be stored at Mux to validate signed tokens.  Note: Any new access tokens authenticating this route will be required to have &#x60;System&#x60; level permissions. 
     * @return APIcreateUrlSigningKeyRequest
     * @http.response.details
     <table border="1">
        <caption>Response Summary</caption>
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
     </table>
     * @deprecated
     */
    @Deprecated
    public APIcreateUrlSigningKeyRequest createUrlSigningKey() {
        return new APIcreateUrlSigningKeyRequest();
    }
    private okhttp3.Call deleteUrlSigningKeyCall(String SIGNING_KEY_ID, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/video/v1/signing-keys/{SIGNING_KEY_ID}"
            .replaceAll("\\{" + "SIGNING_KEY_ID" + "\\}", localVarApiClient.escapeString(SIGNING_KEY_ID.toString()));

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();
        java.util.Map<String, String> localVarCookieParams = new java.util.HashMap<String, String>();
        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "accessToken" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @Deprecated
    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteUrlSigningKeyValidateBeforeCall(String SIGNING_KEY_ID, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'SIGNING_KEY_ID' is set
        if (SIGNING_KEY_ID == null) {
            throw new ApiException("Missing the required parameter 'SIGNING_KEY_ID' when calling deleteUrlSigningKey(Async)");
        }
        

        okhttp3.Call localVarCall = deleteUrlSigningKeyCall(SIGNING_KEY_ID, _callback);
        return localVarCall;

    }


    private ApiResponse<Void> deleteUrlSigningKeyWithHttpInfo(String SIGNING_KEY_ID) throws ApiException {
        okhttp3.Call localVarCall = deleteUrlSigningKeyValidateBeforeCall(SIGNING_KEY_ID, null);
        return localVarApiClient.execute(localVarCall);
    }

    private okhttp3.Call deleteUrlSigningKeyAsync(String SIGNING_KEY_ID, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteUrlSigningKeyValidateBeforeCall(SIGNING_KEY_ID, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }

    public class APIdeleteUrlSigningKeyRequest {
        private final String SIGNING_KEY_ID;

        private APIdeleteUrlSigningKeyRequest(String SIGNING_KEY_ID) {
            this.SIGNING_KEY_ID = SIGNING_KEY_ID;
        }

        /**
         * Build call for deleteUrlSigningKey
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return deleteUrlSigningKeyCall(SIGNING_KEY_ID, _callback);
        }

        /**
         * Execute deleteUrlSigningKey request
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public void execute() throws ApiException {
            deleteUrlSigningKeyWithHttpInfo(SIGNING_KEY_ID);
        }

        /**
         * Execute deleteUrlSigningKey request with HTTP info returned
         * @return ApiResponse&lt;Void&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public ApiResponse<Void> executeWithHttpInfo() throws ApiException {
            return deleteUrlSigningKeyWithHttpInfo(SIGNING_KEY_ID);
        }

        /**
         * Execute deleteUrlSigningKey request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call executeAsync(final ApiCallback<Void> _callback) throws ApiException {
            return deleteUrlSigningKeyAsync(SIGNING_KEY_ID, _callback);
        }
    }

    /**
     * Delete a URL signing key
     * This route is now deprecated, please use the &#x60;Signing Keys&#x60; API. Deletes an existing signing key. Use with caution, as this will invalidate any existing signatures and no URLs can be signed using the key again.  Note: Any new access tokens authenticating this route will be required to have &#x60;System&#x60; level permissions. 
     * @param SIGNING_KEY_ID The ID of the signing key. (required)
     * @return APIdeleteUrlSigningKeyRequest
     * @http.response.details
     <table border="1">
        <caption>Response Summary</caption>
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     * @deprecated
     */
    @Deprecated
    public APIdeleteUrlSigningKeyRequest deleteUrlSigningKey(String SIGNING_KEY_ID) {
        return new APIdeleteUrlSigningKeyRequest(SIGNING_KEY_ID);
    }
    private okhttp3.Call getUrlSigningKeyCall(String SIGNING_KEY_ID, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/video/v1/signing-keys/{SIGNING_KEY_ID}"
            .replaceAll("\\{" + "SIGNING_KEY_ID" + "\\}", localVarApiClient.escapeString(SIGNING_KEY_ID.toString()));

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();
        java.util.Map<String, String> localVarCookieParams = new java.util.HashMap<String, String>();
        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "accessToken" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @Deprecated
    @SuppressWarnings("rawtypes")
    private okhttp3.Call getUrlSigningKeyValidateBeforeCall(String SIGNING_KEY_ID, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'SIGNING_KEY_ID' is set
        if (SIGNING_KEY_ID == null) {
            throw new ApiException("Missing the required parameter 'SIGNING_KEY_ID' when calling getUrlSigningKey(Async)");
        }
        

        okhttp3.Call localVarCall = getUrlSigningKeyCall(SIGNING_KEY_ID, _callback);
        return localVarCall;

    }


    private ApiResponse<SigningKeyResponse> getUrlSigningKeyWithHttpInfo(String SIGNING_KEY_ID) throws ApiException {
        okhttp3.Call localVarCall = getUrlSigningKeyValidateBeforeCall(SIGNING_KEY_ID, null);
        Type localVarReturnType = new TypeToken<SigningKeyResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call getUrlSigningKeyAsync(String SIGNING_KEY_ID, final ApiCallback<SigningKeyResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getUrlSigningKeyValidateBeforeCall(SIGNING_KEY_ID, _callback);
        Type localVarReturnType = new TypeToken<SigningKeyResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIgetUrlSigningKeyRequest {
        private final String SIGNING_KEY_ID;

        private APIgetUrlSigningKeyRequest(String SIGNING_KEY_ID) {
            this.SIGNING_KEY_ID = SIGNING_KEY_ID;
        }

        /**
         * Build call for getUrlSigningKey
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return getUrlSigningKeyCall(SIGNING_KEY_ID, _callback);
        }

        /**
         * Execute getUrlSigningKey request
         * @return SigningKeyResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public SigningKeyResponse execute() throws ApiException {
            ApiResponse<SigningKeyResponse> localVarResp = getUrlSigningKeyWithHttpInfo(SIGNING_KEY_ID);
            return localVarResp.getData();
        }

        /**
         * Execute getUrlSigningKey request with HTTP info returned
         * @return ApiResponse&lt;SigningKeyResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public ApiResponse<SigningKeyResponse> executeWithHttpInfo() throws ApiException {
            return getUrlSigningKeyWithHttpInfo(SIGNING_KEY_ID);
        }

        /**
         * Execute getUrlSigningKey request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call executeAsync(final ApiCallback<SigningKeyResponse> _callback) throws ApiException {
            return getUrlSigningKeyAsync(SIGNING_KEY_ID, _callback);
        }
    }

    /**
     * Retrieve a URL signing key
     * This route is now deprecated, please use the &#x60;Signing Keys&#x60; API. Retrieves the details of a URL signing key that has previously been created. Supply the unique signing key ID that was returned from your previous request, and Mux will return the corresponding signing key information. **The private key is not returned in this response.**  Note: Any new access tokens authenticating this route will be required to have &#x60;System&#x60; level permissions. 
     * @param SIGNING_KEY_ID The ID of the signing key. (required)
     * @return APIgetUrlSigningKeyRequest
     * @http.response.details
     <table border="1">
        <caption>Response Summary</caption>
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     * @deprecated
     */
    @Deprecated
    public APIgetUrlSigningKeyRequest getUrlSigningKey(String SIGNING_KEY_ID) {
        return new APIgetUrlSigningKeyRequest(SIGNING_KEY_ID);
    }
    private okhttp3.Call listUrlSigningKeysCall(Integer limit, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/video/v1/signing-keys";

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();
        java.util.Map<String, String> localVarCookieParams = new java.util.HashMap<String, String>();
        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "accessToken" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @Deprecated
    @SuppressWarnings("rawtypes")
    private okhttp3.Call listUrlSigningKeysValidateBeforeCall(Integer limit, Integer page, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = listUrlSigningKeysCall(limit, page, _callback);
        return localVarCall;

    }


    private ApiResponse<ListSigningKeysResponse> listUrlSigningKeysWithHttpInfo(Integer limit, Integer page) throws ApiException {
        okhttp3.Call localVarCall = listUrlSigningKeysValidateBeforeCall(limit, page, null);
        Type localVarReturnType = new TypeToken<ListSigningKeysResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    private okhttp3.Call listUrlSigningKeysAsync(Integer limit, Integer page, final ApiCallback<ListSigningKeysResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = listUrlSigningKeysValidateBeforeCall(limit, page, _callback);
        Type localVarReturnType = new TypeToken<ListSigningKeysResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    public class APIlistUrlSigningKeysRequest {
        private Integer limit;
        private Integer page;

        private APIlistUrlSigningKeysRequest() {
        }

        /**
         * Set limit
         * @param limit Number of items to include in the response (optional, default to 25)
         * @return APIlistUrlSigningKeysRequest
         */
        public APIlistUrlSigningKeysRequest limit(Integer limit) {
            this.limit = limit;
            return this;
        }

        /**
         * Set page
         * @param page Offset by this many pages, of the size of &#x60;limit&#x60; (optional, default to 1)
         * @return APIlistUrlSigningKeysRequest
         */
        public APIlistUrlSigningKeysRequest page(Integer page) {
            this.page = page;
            return this;
        }

        /**
         * Build call for listUrlSigningKeys
         * @param _callback ApiCallback API callback
         * @return Call to execute
         * @throws ApiException If fail to serialize the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call buildCall(final ApiCallback _callback) throws ApiException {
            return listUrlSigningKeysCall(limit, page, _callback);
        }

        /**
         * Execute listUrlSigningKeys request
         * @return ListSigningKeysResponse
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public ListSigningKeysResponse execute() throws ApiException {
            ApiResponse<ListSigningKeysResponse> localVarResp = listUrlSigningKeysWithHttpInfo(limit, page);
            return localVarResp.getData();
        }

        /**
         * Execute listUrlSigningKeys request with HTTP info returned
         * @return ApiResponse&lt;ListSigningKeysResponse&gt;
         * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public ApiResponse<ListSigningKeysResponse> executeWithHttpInfo() throws ApiException {
            return listUrlSigningKeysWithHttpInfo(limit, page);
        }

        /**
         * Execute listUrlSigningKeys request (asynchronously)
         * @param _callback The callback to be executed when the API call finishes
         * @return The request call
         * @throws ApiException If fail to process the API call, e.g. serializing the request body object
         * @http.response.details
         <table border="1">
            <caption>Response Summary</caption>
            <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
            <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
         </table>
         * @deprecated
         */
        @Deprecated
        public okhttp3.Call executeAsync(final ApiCallback<ListSigningKeysResponse> _callback) throws ApiException {
            return listUrlSigningKeysAsync(limit, page, _callback);
        }
    }

    /**
     * List URL signing keys
     * This route is now deprecated, please use the &#x60;Signing Keys&#x60; API. Returns a list of URL signing keys.  Note: Any new access tokens authenticating this route will be required to have &#x60;System&#x60; level permissions. 
     * @return APIlistUrlSigningKeysRequest
     * @http.response.details
     <table border="1">
        <caption>Response Summary</caption>
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     * @deprecated
     */
    @Deprecated
    public APIlistUrlSigningKeysRequest listUrlSigningKeys() {
        return new APIlistUrlSigningKeysRequest();
    }
}
